@charset 'utf-8';
/*
셀렉터
1. 태그 셀렉터
 - 태그 이름을 그대로 사용한다.
2. 아이디 셀렉터
 - 아이디에 #을 앞에 붙여서 사용한다.
3. 클래스 셀렉터
 - 클래스에 .을 앞에 붙여서 사용한다.
4. 가상클래스 셀렉터
 - 동작과 관련하여 미리 정의된 가상 클래스가 있다.
 - 혼자 쓰이지 않고 다른 셀렉터들과 같이 쓰인다.
 - 다른 셀렉터 뒤에 :을 붙인 후 가상 클래스 이름을 사용하여
   적용한다.
5. 전체 셀렉터
 - 셀렉터 이름이 *이다.
*/
div, p{
    height: 100px;
    background-color: rgb(0,195,59);
    /* 
    rgb(0,195,59) == #00c33b
    */
    color:green;
}
#hi{
    font-weight: 700;
}
.font-red{
    color: red;
}
.font-red:hover{
    text-decoration: underline;
    cursor: move;
}
*{
    font-size: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* 자손 */
div b{
    color: green;
}
/* 자식 */
div>b{
    color: blue;
}
/* 형제 */
div.bold{
    font-weight: bold;
}
.font-yellow.bold{
    color: yellow;
    font-weight: bold;
}