@charset 'utf-8';
.div-input{
    box-sizing: border-box;
    width: 320px;
    height: 100px;
    border: 1px solid black;
    text-align: right;
}
#dataStr{
    font-size: 18px;
    margin-top: 10px;
}
#dataNum{
    font-size: 35px;
}
input{
    width: 315px;
    border: none;
    outline: none;
    text-align: right;
}
.div-row{
    display: flex;
}
.div-btn{
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    font-size: 35px;
    line-height: 78px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}
.div-btn:hover{
    background-color: gainsboro;
}
.div-btn:active{
    background-color: gray;
}