@charset 'utf-8';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
div{
	border: 1px solid black;
}
.container::after{
	clear: both;
	content: "";
	display: block;
}
.box1,
.box2,
.box3{
	width: calc(100% / 3);
	height: 200px;
	display: inline-block;
	float: left;
}
@media(max-width:500px){
	.box1{
		width: 100%;
	}
	.box2,
	.box3{
		display: none;
	}
}
@media(min-width:501px) and (max-width:1000px){
	.box1,
	.box2{
		width: 50%;
	}
	.box3{
		display: none;
	}
}