@charset 'utf-8';
div{
    text-decoration: overline;
    text-align: left;
    text-indent: 10px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font: italic 700 30px 'Times New Roman';
    /* margin은 태그를 하나의 박스로 생각한다면 박스 밖의 여백*/
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    /* 위를 기준으로 시계 방향, 위(top) 오른쪽(right) 아래(botton) 왼쪽(left)*/
    margin: 10px 20px 30px 40px;
    margin: 10px 20px 10px 20px; /* 아래와 같은 경우*/
    margin: 10px 20px; /* 위아래와 좌우가 대칭인 경우*/
    margin: 10px; /* 전부다 같은 경우*/
    margin: 10px 20px 30px 20px;
    margin: 10px 20px 30px;
    margin: 10px;
    /* 모든 속성은 마지막에 있는 속성값으로 덮어쓰기한다.*/
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: red;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    border: solid 1px #00ff00;
    border-bottom: solid 1px red;
    padding: 10px 15px;
    border-radius: 10px;
}