@charset 'utf-8';
/*  css 작업을 할 때에 코드 순서는
    조상, 자손순으로 작업을 하는 것이 좋음*/
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0; */
    margin: 0;
    padding: 0;
    font-size: 14px;
}
/* body태그의 margin을 없애는 방법 2*/
/* body{
    margin: 0;
} */

#box1{
    height: 150px;
    background-color: aliceblue;
    font-size: 0px;
}
#box1>*{
    font-size: 14px;
}
#box-left,
#box-right,
#box-left1,
#box-right1{
    border: solid 1px black;
    height: 100px;
    /* calc 함수는 연산자를 공백으로 구분하기 때문에
    값과 연산자 사이에는 항상 공백을 입력해야한다.
    단 단위는 수치랑 붙여 써야한다.*/
    width: calc(100% / 2);
    display: inline-block;
}
#box-right1{
    float: right;
}