@charset 'utf-8';
div{
    border: solid 1px black;
}
.box1{
    padding: 10px;
}
.box1-inner{
    height: 100px;
    border-color: red;
}
.box2-inner{
    height: 100px;
    border-color: red;
    margin: 10px;
}